.carousel .slide {
    height: 800px;
}

.carousel .slide img {
    object-fit: cover;
    height: 100%;
}

.carousel .thumbs-wrapper, .carousel .thumbs {
    height: auto;
}
@media (max-width: 1200px) {
    .carousel .slide {
        height: 600px;
    }
}

@media (max-width: 800px) {
    .carousel .slide {
        height: 400px;
    }
}
